{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/suppliers.css' %}" />
<h1>List of suppliers</h1>
<ul>
    <div class="X">
        <ul class="SG">
            {% for unit in suppliers %}
            <li class="sgLi">
                <div class="box">
                    <a class="supp_name" href="{% url 'supplier' unit.id %}"> {{ unit.supplier }} </a>
                    <ul class="df">
                        <li class="list_item">Categories</li>
                        <li class="list_item">Food/Bar</li>
                        {% if user.is_authenticated %}
                        <button class='button-append' style="float: right" type='submit' value='Submit'
                            onclick='this.disabled = true;'>+</button>
                        {% endif %}
                    </ul>
                </div>
            </li>
            {% endfor %}
    </div>
</ul>



{% endblock content %}